[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:Jackie733/kickstart.nvim.git
[submodule "tmux/.config/tmux"]
	path = tmux/.config/tmux
	url = git@github.com:Jackie733/tmux-config.git
